<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>500 Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>
	<div class="container">
		<h1 class="page-header">ERROR!</h1>
		<p>Nomor atau Kata Kunci Tidak Ada di Database</p>
		<a href="/"><button class="btn btn-info">Kembali Ke Halaman Utama</button></a>
	</div>
</body>
</html>

